<h2 class="text-2xl font-semibold mb-4">LOGIN</h2> <br>
<%= form_with(url: login_path, method: :post) do |form| %>
    <div class="mb-4">
      <%= form.label :email %>
      <%= form.email_field :email, class: "block rounded-lg border-gray-300" %>
    </div>

    <div class="mb-4">
      <%= form.label :password %>
      <%= form.password_field :password, class: "block rounded-lg border-gray-300" %>
    </div>

    <div class="mb-4">
      <%= form.check_box :remember_me %>
      <%= form.label :remember_me, "Remember me" %>
    </div>

    <%= form.submit "Log in", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    

  <% end %>