
  <div class="flex flex-wrap">
    <% @cards.each do |card| %>
      <h2 class="text-2xl font-semibold mb-4"><%= card.status  %></h2>
      <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
        <div class="bg-white shadow-md rounded-lg p-4 mb-4">
          <h2 class="text-lg font-semibold mb-2"><%= card.title %></h2>
          <p><%= card.content %></p>
          <p class="text-sm text-gray-500"><%= card.created_at.strftime("%d/%m/%Y") %></p>
          <a href="<%= card_path(card) %>" class="text-blue-500 hover:underline" onclick="showCardDetails('<%= card.title %>', '<%= card.content %>', '<%= card.created_at.strftime("%d/%m/%Y") %>'); return false;">Detayları Gör</a>
          <a href="<%= edit_card_path(card) %>" class="text-gray-500 hover:underline ml-4">Düzenle</a>
        </div>
      </div>
    <% end %>
  </div>


<div id="card-details-modal" class="fixed inset-0 flex items-center justify-center hidden bg-black bg-opacity-50">
  <div class="bg-white rounded-lg p-8">
    <h2 id="card-details-title" class="text-lg font-semibold mb-2"></h2>
    <p id="card-details-content" class="whitespace-pre-line"></p>
    <p id="card-details-type" class="text-sm text-gray-500"></p>
    <p id="card-details-date" class="text-sm text-gray-500"></p>
    <button onclick="hideCardDetails()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Kapat</button>
  </div>
</div>

<%= link_to "Kart Ekle", new_card_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
