<%= form_with(model: @card, url: cards_path, class: "mb-8") do |form| %>
  <%= form.label :title, "Title" %>
  <%= form.text_field :title, class: "block rounded-lg border-gray-300 mb-4" %>

  <%= form.label :content, "Content" %>
  <%= form.text_area :content, class: "block rounded-lg border-gray-300 mb-4" %>

  <div class="field">
    <%= form.label :status %>
    <%= form.collection_select :status, Card.statuses, :first, :first, { prompt: "Choose a status" }, { class: "block rounded-lg border-gray-300 mb-4" } %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :name, { prompt: "Choose a user" }, { class: "block rounded-lg border-gray-300 mb-4" } %>
  </div>

  <div class="field">
    <%= form.label :due_on %>
    <%= form.select :due_on, [["No Due On", nil], ["A Specific Day", "A Specific Day"]], {}, class: "block rounded-lg border-gray-300 mb-4", onchange: "toggleDueDateField(this)" %>
  </div>

  <div class="field" id="dueDateField" style="display: none;">
    <%= form.label :due_date, "Due Date" %>
    <%= form.date_field :due_date, class: "block rounded-lg border-gray-300 mb-4" %>
  </div>

  <%= form.submit " Add a card", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>
