<%= form_with(model: @card, url: cards_path, class: "mb-8") do |form| %>
  <%= form.label :title, "Başlık" %>
  <%= form.text_field :title, class: "block w-full rounded-lg border-gray-300 mb-4" %>

  <%= form.label :content, "İçerik" %>
  <%= form.text_area :content, class: "block w-full rounded-lg border-gray-300 mb-4" %>
   <div class="field">
    <%= form.label :status %>
    <%= form.collection_select :status, Card.statuses, :first, :first, prompt: "Kategori Seçin" %>
  </div>
  <%= form.submit " Kartı Ekle", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>



